*,
*::before,
*:after {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  src: local('Sen'), local('Sen-Regular'),
    url('./fonts/poiret-one-v8-latin-regular.ttf') format('ttf');
}

:root {
  --light-blue: rgb(34, 174, 255);
  --dark-blue: rgb(15, 58, 83);
  --navbar-padding: 7.5%;
  --navbar-height: 10rem;
  --blog-part-width: 70rem;
  /* remember to subtract with half of --blog-part-width here*/
  --translateXbody: calc(50vw - 35rem);
  --scroll-width: 0.5rem;
  --front-scrolling-height: 100rem;
  --footer-height: 30rem;
  --footer-buffer: 20rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Sen';
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  width: calc(100% - var(--navbar-padding) - var(--navbar-padding));
  min-height: var(--navbar-height);
  padding: 1rem var(--navbar-padding);
  padding-top: 0.5rem;
  font-size: 2.2rem;
  background-color: #fff;
  box-shadow: 0px 0.2px 0.3rem rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav:hover > .nav-overlay {
  visibility: visible;
  opacity: 1;
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(34, 174, 255, 0.6) 0%,
    transparent 55%
  );
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.nav-overlay-hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.nav-overlay-hidden nav h2 {
  font-weight: 800;
}

nav h4 {
  font-weight: 200;
}

.page-content {
  height: calc(var(--front-scrolling-height) + var(--footer-height));
  padding-bottom: var(--footer-buffer);
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
  border-top: 2px solid var(--light-blue);
  transition: transform 0.4s ease-in-out;
  background-color: #fff;
  display: grid;
  justify-items: center;
  font-size: 2.5rem;
  text-align: center;
  visibility: hidden;
}

.footer > * {
  padding: 1rem 2rem;
}

.footer-active {
  visibility: visible !important;
}

.footer-intro {
  margin-top: 3rem;
}
.what-i-can {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.what-i-can p {
  margin: 0.5rem 0;
}

.footer-contact {
  font-size: 2rem;
  margin-top: 1rem;
}

.what-i-can a,
.what-i-can a:link,
.what-i-can a:visited,
.footer-contact a,
.footer-contact a:link,
.footer-contact a:visited {
  color: var(--light-blue);
}

.what-i-can a:hover,
.footer-contact a:hover {
  color: var(--dark-blue);
}

.footer-love {
  align-self: flex-end;
  justify-self: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.no {
  transform: translateX(-100%);
}

.blog-scrolling {
  position: absolute;
  transform: translateX(var(--translateXbody));
  transition: transform 0.4s ease-out;
  height: var(--front-scrolling-height);
  overflow: hidden;
  overflow-y: scroll;
  padding: 1rem;
  margin-bottom: 20rem;
  box-shadow: 2px 2px 0.5rem rgba(0, 0, 0, 0.1);
}

.blog-scrolling-left {
  transform: translateX(1vw) !important;
  height: auto !important;
}

.blog-part {
  min-height: 10rem;
  position: relative;
  padding: 2rem;
  font-size: 2.5rem;
  margin: 2rem auto;
  width: var(--blog-part-width);
  display: grid;
  background-color: #fff;
  box-shadow: 0px 0.2px 0.3rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: width 0.4s;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.blog-part-left {
  width: 30vw !important;
}

.blog-scrolling .blog-part:hover,
.blog-scrolling .blog-part:active,
.blog-scrolling .blog-part:focus {
  box-shadow: 0px 0.5px 0.4rem rgba(22, 151, 29, 0.6);
}

.blog-scrolling .blog-part .blog-part-description {
  margin-top: 2rem;
}

.blog-active {
  position: fixed;
  height: calc(100vh - var(--navbar-height));
  width: calc(70vw - 10rem);
  right: 0;
  top: 0;
  transform: translateY(calc(var(--navbar-height) + 2rem));
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in 0.4s;
  overflow-y: scroll;
  -ms-overflow-style: none;
  padding-right: var(--scroll-width);
}

.blog-active::-webkit-scrollbar {
  display: none;
}

.blog-active-set {
  height: 100vh !important;
  transform: translateY(0rem) !important;
}

.blog-active-show {
  visibility: visible !important;
  opacity: 1 !important;
}

.blog-doc {
  opacity: 1;
  transition: opacity 0.15s;
  display: grid;
  align-content: flex-start;
  font-size: 3rem;
  min-height: 100vh;
  position: relative;
  width: calc(70vw - 10rem);
  padding-bottom: 10rem;
}

.blog-doc > * {
  width: calc(70vw - 15rem);
  word-wrap: break-word;
}

.blog-doc a,
.blog-doc a:link,
.blog-doc a:visited {
  color: var(--light-blue);
}

.blog-doc a:hover {
  color: var(--dark-blue);
}
.hide {
  opacity: 0 !important;
}

.blog-doc-title {
  margin-top: 3rem;
}

.blog-doc-timestamp {
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
}

.blog-doc-introduction {
  margin-bottom: 4rem;
}

.blog-doc-undertitle {
  margin-top: 4rem;
}

.blog-doc-code {
  font-family: 'Sen';
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
  padding: 2rem;
  background-color: rgb(58, 58, 58);
}

.blog-doc-section {
  margin: 3rem 0;
}

.blog-doc-section > .blog-doc-undertitle {
  margin-bottom: 3rem;
}

.scroll {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateY(0rem);
  width: var(--scroll-width);
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in, visibility 0.2s;
  background-color: var(--dark-blue);
}

.scroll-full {
  visibility: visible !important;
  opacity: 1 !important;
  height: 100% !important;
}

.scrollbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  transform: scaleY(0);
  transform-origin: top;
}

@keyframes ExpandAndGone {
  80% {
    color: var(--light-blue);
  }

  100% {
    transform: scale(1.4) translate(1rem, -2rem);
    opacity: 0;
  }
}

.notification-marker {
  font-size: 3rem;
  position: absolute;
  display: block;
  color: var(--dark-blue);
  animation: ExpandAndGone 0.5s ease-in 0s 1;
  transition: all 0.4s;
}

.loading-text {
  min-height: 10rem;
  position: relative;
  padding: 2rem;
  font-size: 4.5rem;
  margin: 2rem auto;
  width: var(--blog-part-width);
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media screen and (max-width: 56.25em) {
  .blog-scrolling {
    transform: translateX(0);
    width: 100%;
    padding: 1rem 0;
    transition: transform 0.8s ease-out;
  }

  .blog-part {
    transition: width 0.8s;
  }

  .blog-scrolling-left {
    width: auto !important;
  }

  .blog-part {
    max-width: 80%;
  }
}
